{
  "services": {
    "httpproxy": {
      "maxPrice": "0.001",
      "ipFilter": {
        "allow": [
          {"countryCode": ""}
        ],
        "disallow": [
          {"countryCode": ""}
        ]
      }
    }
  },
  "dialTimeout": 10,
  "udpTimeout": 60,
  "nanoPayFee": "0",
  "reverse": false,
  "reverseBeneficiaryAddr": "",
  "reverseTCP": 30020,
  "reverseUDP": 30021,
  "reversePrice": "0.001",
  "reverseClaimInterval": 3600,
  "reverseSubscriptionDuration": 40000,
  "reverseSubscriptionFee": "0"
}
